html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

/* keyframe */

@keyframes botton-up {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes scale-img {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

.article-container img {
    animation: scale-img 2s ease 0s 1 normal forwards;
}

@keyframes slide-text /*to-right*/ {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-text-left {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-top {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-300px * 10));
        transform: translateX(calc(-300px * 9));
    } 
}

/*--QR--*/

.qr {
    animation: slide-text 2s ease 0s 1 normal forwards;
}

.qr-container:hover {
    animation: shake 2.5s ease 0s 1 normal forwards;
}

/*--HEADER--*/


.img-logo:hover {
    animation: botton-up 1s ease 0s 1 normal forwards; 
}

.item-list a:hover {
    color: white;
}

.list-login:hover, .login-item:hover {
    background-color: #b37100ad;
}



#login:hover {
    color: white;
}

/*--HERO--*/

.hero-title h1, .hero-title h2 {
    animation: slide-text 2s ease 0s 1 normal forwards;
}

/*--ABOUT--*/

.about-txt {
    animation: slide-text-left 1.5s ease 0s 1 normal forwards;
}
