html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

/* keyframe */

@keyframes botton-up {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes slide-text /*to-right*/ {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-text-left {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slide-top {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-300px * 10));
        transform: translateX(calc(-300px * 9));
    } 
}

@keyframes entrance {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: rotateX(-100deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}

@keyframes desplazar-linea {
	0% {
	  width: 0;
	}
	50% {
	  width: 100%;
	}
	100% {
	  width: 0;
	}
}

@keyframes slide-bottom {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*--QR--*/

.qr {
    animation: slide-text 2s ease 0s 1 normal forwards;
}

.qr-container:hover {
    animation: shake 2.5s ease 0s 1 normal forwards;
}

/*--HEADER--*/
.principal-item {
	position: relative;
	display: inline-block;
}

.principal-item .line-animation {
	width: 0;
	height: 2px;
	background-color: white; 
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}


.principal-item:hover .line-animation {
	display: block; 
	animation: desplazar-linea 2s forwards; 
}

.img-logo:hover {
	animation: botton-up 1s ease 0s 1 normal forwards; 
}

.item-list a:hover, .principal-item a:hover, .list-ctn a:hover, .btn-user a:hover, #login:hover {
    color: white;
}

.principal-item a:hover, .list-ctn a:hover, .btn-user a:hover, .login-forgot a:hover, .btn-text:hover {
	text-shadow: 2px 2px 10px var(--blacktxt);
}

.list-login:hover, .login-item:hover, .btn-user:hover {
    background-color: #b37100ad;
}

/*--HERO--*/

.hero-title {
    animation: slide-text 2s ease 0s 1 normal forwards;
}

/*--ABOUT--*/

.about-txt {
    animation: slide-text-left 1.5s ease 0s 1 normal forwards;
}

/*--LOCATION-CONTACTS--*/
#toggle-map-uno:checked ~ .map, #toggle-map-dos:checked ~ .map, #toggle-map-tres:checked ~ .map {
    animation: slide-down 0.5s ease 0s 1 normal backwards;
}

/*LOGIN*/
.item-btn:hover, .btn-old-user:hover {
	background-color: rgba(48, 48, 48, 0.292);
	box-shadow: 2px 2px 4px var(--blacktxt);
}

.login-container {
	animation: slide-bottom 2s ease 0.5 normal forwards;
}

/*REGISTER*/
.btn-text:hover {
	font-weight: 600;
}

.btn-new-user:hover {
	box-shadow: 2px 2px 10px var(--blacktxt);
}

.login-list {
	animation: slide-text-left 1.5s ease 0s 1 normal forwards;;
}

/*media*/

@media (max-width: 940px) {
	#toggle-menu:checked ~ .burger-list {
        animation: slide-down 1s ease 1 normal backwards;
    }
}

