@media (max-width: 520px) {
    .login-container {
        border-radius: 0;
        width: 100%;
        margin: 15vh;
    }
    .btn-google-facebook {
        flex-direction: column;
        align-items: center;
    }

    .login-forgot h4 {
        font-size: 14px;
    }

    .footer {
        height: 400px;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }
}