@media (max-width: 1650px) {
    /*ABOUT*/
    .about-title {
        font-size: 40px;
    }

    /*CARDS*/
    .cards-container {
        margin: 80px 0px 80px 8px;
        gap: 0;
    }

    .cards-title h1 {
        font-size: 50px;
    }
    
    /*CARDS-RATING*/

    .cards-rating {
        width: 80%;
    }

}

@media (max-width: 1410px) {
    .header .hero .footer {
        width: auto;
    }

    /*HERO*/

    .hero-title h1 {
        font-size: 85px;
    }

    .hero-title h2 {
        font-size: 75px;
    }

    /*ABOUT*/
    .article-img {
        width: 50%;
    }

    .about-title {
        font-size: 25px;
    }

    .about-title p {
        font-size: 15px;
    }

    /*CARDS*/

    .cards-container {
        margin-left: 20px;
        gap: 40px;
        flex-wrap: wrap;
        margin: 20px 120px;
    }

    .cards-rating {
        width: 75%;
    }
}

@media (max-width: 1250px) {
    .header .hero .footer {
        width: 1250px;
    }

    /*HERO*/
    .hero-title h1 {
        font-size: 75px;
    }

    /*ABOUT*/

    .about-title {
        font-size: 30px;
    }

    .about-title p {
        font-size: 15px;
    }
    
    .about-container {
        flex-direction: column;
        margin: 0 10%;
    }

    .article-img {
        width: 120vh;
    }

    /*FUNCTION*/
    .btn-list-container i {
        font-size: 160px;
    }

    .click-btn {
        width: 70px;
        height: 70px;
    } 

    /*CARDS*/
    .cards-exp-title h1 {
        font-size: 60px;
    }
}

@media (max-width: 1180px) {

    /*HEADER*/
    .principal-list {
        gap: 40px;
    }

    .principal-list, .btn {
        font-size: 15px;
    }

    /*HERO*/
    .hero-title h1 {
        font-size: 60px;
    }

    .hero-title h2 {
        font-size: 55px;
    }

    /*ABOUT*/
    .article-img {
        width: 100vh;
    }

    /*CARDS*/

    .cards-exp-title h1 {
        font-size: 60px;
        text-align: justify;
    }

    .cards-rating {
        gap: 17px;
    }

}

@media (max-width: 1050px) {
    /*HERO*/
    .hero {
        width: auto;
    }

    .hero-title h1 {
        font-size: 55px;
    }

    /*FUNCTION*/
    .function-title h1 {
        font-size: 75px;
        text-align: center;
    }

    .btn-list-container i {
        font-size: 150px;
    }

    .click-btn {
        width: 60px;
        height: 60px;
    } 

    .list-ctn {
        font-size: 20px;
        width: 500px;
    }
    
    .cards-exp-title h1 {
        text-align: center;
    }
}

@media screen and (max-width: 940px) {
    /*BURGER*/
    .burger {
        z-index: 3;
        display: flex;
    }

    .burger-list {
        background-color: var(--bgyellow);
        box-shadow: 0px 20px 20px black;
        height: calc(50vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .burger i {
        display: block;
    }

    #toggle-menu:checked ~ .burger-list {
        display: flex;
    }

    .fa-bars {
        cursor: pointer;
    }

    .item-list {
        font-weight: 800;
        margin: 0;
        padding: 20px;
    }

    .burger-login {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .burger-login-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 400;
    }

    .login-item {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 10px;
        border: 2px solid var(--blacktxt);
        border-radius: 20px;
    }

    /*HEADER*/

    .header {
        justify-content: space-between;
        padding: 0 30px;
    }

    .img-logo {
        width: auto;
        height: 40px;
    }

    .principal-list, .btn {
        display: none;
    }

    .list-login {
        width: 90px;
        height: 30px;
    }

    .qr {
        display: none;
    }

    /*HERO*/

    .hero {
        flex-direction: column;
    }

    .hero-title {
        margin-top: 20px;
    }

    .hero-title h1 {
        font-size: 50px;
    }

    .hero-title h2 {
        font-size: 35px;
    }

    .hero h3 {
        font-size: 20px;
        font-weight: 400;
    }

    .btn-query {
        color: white;
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .btn-query h4 {
        font-size: 20px;
        font-weight: 600;
    }

    .btn-app {
        display: flex;
        gap: 40px;
    }

    .item-app {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 150px;
        height: 45px;
        border: 2px solid white;
        border-radius: 30px;
    }

    .item-app a {
        color: white;
        font-weight: 600;
    }

    .fa-apple {
        margin-bottom: 4px;
    }

    .fa-apple, .fa-android {
        font-size: 30px;
    }

    /*FUNCTION*/
    
    .btn-list-container {
        flex-direction: column;
    }

    .btn-list-container i {
        width: auto;
    }


    /*CARDS*/
    .cards-exp-title h1 {
        font-size: 55px;
    }

    .cards-rating {
        flex-wrap: nowrap;
        width: 550px; 
        overflow: hidden; 
    }

    .profile-container {
        justify-content: flex-start;
        flex-wrap: nowrap;
       
        overflow: auto; 
        padding: 12px;

        background-color: rgb(222, 222, 222);
        border-radius: 20px;
        box-shadow: -58px -88px 240px -13px rgba(0,0,0,0.44) inset;
        z-index: 1;
    }

    .profile {
        z-index: 3;
    }

    .rating-txt {
        font-size: 16px;
        text-align: justify;
    }

    /*FOOTER*/
    .suscribe {
        display: none;
    }
}

@media screen and (max-width:888px) {
    /*BURGER-LIST*/
    .burger-list {
        width: auto;
    }

    .btn-query h4 {
        font-size: 20px;
    }

    .item-app {
        width: 120px;
        font-size: 14px;
    }

    .fa-apple, .fa-android {
        font-size: 25px;
    }

    /*HERO*/
    .hero-title h1 {
        font-size: 45px;
    }
    .hero-title h3 {
        font-size: 15px;
    }

    /*ABOUT*/
    .about {
        padding: 0;
    }

    .about-container {
        width: 85%;
    }

    .article-img {
        width: 65vh;
    }

    .about-txt h3 {
        font-size: 1rem;
    }

    .about-title {
        font-size: 30px;
    }

    .about-txt p {
        font-size: 14px;
    }

    /*FUNCTION*/
    .function {
        margin: 0;
    }

    .function-title h1 {
        font-size: 45px;
    }

    .function-title h2 {
        font-size: 18px;
    }

    .list-ctn {
        width: 50vw;
    }

    /*CARDS*/
    .cards {
        margin: 0;
    }

    .cards-title h1 {
        font-size: 35px;
    }

    .cards-title h2 {
        font-size: 20px;
    }

    .list-ctn p {
        font-size: 16px;
        font-weight: 400;
    }

    .cards-exp {
        margin: 0;
    }

    .cards-exp-title h1 {
        font-size: 45px;
    }

    .cards-exp-title h2 {
        font-size: 25px;
    }

    .contacts {
        align-items: center;
    }

    .contacts-title h1 {
        font-size: 40px;
    } 

    .contacts-title h3 {
        font-size: 20px;
    }

    .contacts-list {
        margin-top: 4%;
        flex-direction: column;
        align-items: flex-start;
    }

    /*CARDS*/
    .cards-rating {
        width: 490px;
    }

    /*FOOTER*/
    
    .img-footer {
        width: 150px;
        height: auto;
    }
    
}

@media (max-width: 620px) {
    /*ABOUT*/
    .article-img {
        width: 40vh;
    }

    /*CARDS*/
    .cards-exp-title h1 {
        font-size: 38px;
    }

    .cards-exp-title h3 {
        font-size: 20px;
    }

}

@media (max-width: 510px) {
    /*CARDS-RATING*/
    .cards-exp-title h1 {
        font-size: 30px;
    }

    .cards-rating {
        width: 280px;
    } 

    .rating-txt p {
        font-size: 14px;
    }

    /*FOOTER*/
    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 20px
    } 
}

@media (max-width: 396px) {
    /*HERO*/
    .hero-title {
        margin-right: 10%;
    }

    .hero-title h1 {
        font-size: 30px;
    }

    .hero-title h2 {
        font-size: 25px;
    }

    .hero-title h3 {
        font-size: 18px;
    }

    /*ABOUT*/
    .article-img {
        width: 35vh;
    }

    /*FUNCTION*/
    .function-title h2 {
        font-size: 16px;
    }

    .list-ctn p {
        font-size: 13px;
    }

    /*CARDS*/
    .cards-title h1 {
        font-size: 30px;
    }

    .cards-car {
        width: 300px;
    }

    .cards-img {
        width: auto;
        height: auto;
    }

    /*LOCATION-CONTACTS*/
    .city-container {
        width: 300px;
    }

    .city-point {
        width: 120px;
    }

}



